* {
    margin: 0;
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Menu1 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Modal Content */
.modal-content {
    background-image: url('Menu/MenuBack.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 65%;
    height: 75%;
    overflow: hidden;
}

.Score1 {
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
}

.Score1>.sec-1 {
    width: 40%;
    display: flex;
    justify-content: end;
    color: white;
    align-items: center;
    height: 100%;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.Score1>.sec-3 {
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.sec-3>p {
    margin-left: 16%;
    font-size: 1.9em;
    font-family: fantasy;
}

.Score1>.sec-2 {
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin: auto;
    text-align: center;
}

.Score1>.sec-2>p {
    font-size: 70px;
    font-family: fantasy;
}


.Red_D {
    width: 500px;
    height: 100px;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.Red_D>img {
    width: 100px;
    height: 80px;
}

.Red_D>p {
    font-size: 70px;
    font-family: fantasy;
    color: red;
}

.Blue_D {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
}

.Blue_D>img {
    width: 100px;
    height: 80px;
}

.Blue_D>p {
    font-size: 70px;
    font-family: fantasy;
    color: rgb(0, 30, 255);
}

#Wik {
    margin-top: 50px;
    font-size: 100px;
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 100px;
    margin-right: 60px;
    margin-top: 10px;
    font-family: fantasy;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





body {
    background: black;
    position: relative;
    display: flex;
    justify-content: center;
}

.BaseSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

.Abstract {
    width: 250px;
    height: 100px;
    position: absolute;
    background-image: url(menu/Screenshot\ 2023-03-27\ 214333.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.Clock {

    width: 135px;
    margin-left: 15px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-size: 1.8em;
}

.Sec-1 {
    width: 10%;
    height: 100vh;
}

.Sec-2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}